@charset "UTF-8";

body {
    background-color: #898989;
    margin: 0;
    padding: 0;
    font-size: 0.75em;
    line-height: 1.2em;
    color: #333;
}

/* 웹페이지를 중앙에 배치하기 위해서 */
#wrap {
    width: 971px;
    /* 각 웹페이지 크기에 맞게 조정하면 된다.*/
    text_align: left;
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    /*wrap은 바디 전체이므로, 전체의 백그라운드 이미지를 지정 */
    background-image: url(../images/shadow.png);
    background-repeat: repeat-y;
    min-height: 900px;
    /* min-height는 화면의 길이*/
    /* 백그라운드는 작은 흰색이므로 그걸 반복시켜서 나오도록함 */
}

#logo {
    float: left;
    width: 265px;
    margin: 60px 0 0 40px;
    /* 시계방향, 위,오른,밑,왼 */
}

header {
    height: 151px;
    /* 화면 상단에 고양이그림 있는 헤더의 높이를 설정 */
}

nav#top_menu {
    width: 600px;
    margin: 50px 20px 0 0;
    float: right;
}

nav#top_menu ul {
    list-style: none;
    /* ul의 동그라미 없애기*/
    /* 폰트 사용할 목록을 지정한다. 첫번째꺼가 없으면 두번째꺼
    두번째꺼 없으면 3번째꺼 순서로*/
    font-family: Vendana, Geneva, sans-serif;
    font-size: 13px;
    font-weight: 100;
    color: #330;

}

nav#top_menu ul li {
    float: left;
    margin: 0 5px;
    /*2개를 줄 경우 (상하),(좌우) 상하는 0씩, 좌우는 5씩 */
}

nav#top_menu a {
    display: block;
    height: 20px;
    padding: 10px;
    text-decoration: none;
    color: #333;

}

/* nav에 a가 가진 기능중 hover라는 기능을 사용하겠다.
hover는 마우스를 올려놓으면 변하는 action같은것*/
nav#top_menu a:hover {
    background-image: url(../images/blue.gif);
    background-repeat: repeat-x;
    background-position: bottom;
}

#login {
    /*float : 페이지 내에서 보여질 위치를 정함*/
    float: right;
    margin: 20px 64px 0 0;
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: 5px;
}


#login a {
    text-decoration: none;
    color: #333;

}

#login a:hover {
    color: #F90;

}

.clear {
    clear: both;
}

@font-face {
    font-family: "myfont";
    src: local("Impact"),
        local("Consolas"),
        local("Britannic-Bold"),
        url(MgOpenModernaBold.ttf);
    font-weight: bold;
}

/*
[ @font-face 요약(Summary) ]
CSS at-rule 인 @font-face 를 사용하여 웹페이지의 텍스트에 온라인폰트(online fonts)를 적용할 수 있다. 
@font-face 를 사용하여 웹페이지 제작자가 원하는 폰트를 사용할 수 있게함으로써, 컴퓨터에 설치된 폰트만을 사용해야했던 제약이 없어지게되었다. @font-face at-rule 은 CSS의 top-level에서 뿐 아니라, CSS conditional-group at-rule 안에서도 사용될 수도 있다. 

[ @font-face 문법(Syntax) ]

@font-face 
{
   font-family: <a-remote-font-name>;
   src: <source> [,<source>]*;
   [font-weight: <weight>];
   [font-style: <style>];
}
<a-remote-font-name> 
   font 속성에서 폰트명(font face)으로 지정될 이름을 설정한다.
<source> 
   원격 폰트(remote font) 파일의 위치를 나타내는 URL 값을 지정하거나, 
   사용자 컴퓨터에 설치된 폰트명을 local("Font Name")형식으로 지정하는 속성이다.
<weight> 
   폰트의 굵기(font weight) 값.
<style> 
   폰트 스타일(font style) 값.
   사용자의 로컬환경(local computer)에 설치된 폰트는 local() 이라는 구문을 사용하여 지정이 가능하다. 
   만약 해당 폰트를 찾지못한다면, 다른 대체 폰트를 찾을때까지 폰트를 검색작업을 계속 할 것이다.
*/

footer{
    margin: 50px 0 0 0;
    height: 80px;
    background-image: url(../images/under_logo.jpg);
    background-repeat: no-repeat;
    background-position: 40px center;
/*    왼쪽으로부터 40픽셀을 띄운 후 가운데에*/
}

footer hr {
    width: 900px;
    margin: 0 0 0 15px !important;
/*    important : 중요한거니 꼭꼭꼭 적용되어야함! 이라는 표시*/
    margin: 0 0 0 35px;
/*    그래서 중복으로 margin을 넣었을 경우 35가 되지 않고 15가 설정되게됨*/
    
}

footer #copy {
    font-family: myfont;
    width: 450px;
    margin: 20px 0 0 220px;
    float: left;
}
footer #social{
    width: 130px;
    margin: 20px 20px 0 0 ;
    float: right;
}

footer #social img {
    margin: 0 7px;
}

