@charset "UTF-8";

#main_img {
    /*프레임을 삐져나온 이미지를 사이즈에 맞게 조절하기*/
    width: 971px;
    height: 308px;
    background-image: url(../images/img_back.png);
    background-repeat: no-repeat;
    background-position: center top;
    /*가운데, 위에 딱 맞게끔*/
}

#main_img img {
    margin: 9px 0 0 0;

}

article#front {
    margin: 5px 0 5px 0;

}

#solution {
    border: solid 1px #ffffff;
    border-radius: 10px;
    width: 910px;
    min-height: 150px;
    background: #ebebeb;
    padding: 10px;
    margin: 0 0 0 20px;
}

#hosting,
#security,
#payment {
    width: 30%;
    float: left;
    padding: 10px;
    margin-right: 6px;


}

#hosting h3,
#security h3,
#payment h3 {
    font-family: "myfont";
    font-size: 14px;
    font-weight: 600;
    color: #333;
    margin: 0 0 10px 80px;

}

#hosting p,
#security p,
#payment p {
    font-family: "myfont";
    font-size: 12px;
    color: #333;
    margin: 0 0 10px 80px;

}

#hosting {
    background-image: url(../images/icon1.png);
    background-repeat: no-repeat;
    background-position: left 15px;
    border-right: 1px solid #ccc;
    margin-right: 14px;


}

#payment {
    background-image: url(../images/icon3.png);
    background-repeat: no-repeat;
    background-position: left 15px;

}

#security {
    background-image: url(../images/icon2.png);
    background-repeat: no-repeat;
    background-position: left 15px;
    border-right: 1px solid #ccc;

}

#sec_news,
#news_notice {
    float: left;
    width: 420px;
    margin: 15px 0 0 40px;

}

#sec_news h3,
#news_notice h3 {
    font-family: myfont;
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
    width: 420px;
    height: 24px;
    background-image: url(../images/h3_back.jpg);
    background-repeat: no-repeat;
    padding: 5px 0 0 22px;

}
#sec_news .orange{
    color: orange;
    margin: 0 0 0 10px;
    
}
#news_notice .brown{
    color: saddlebrown;
    margin: 0 0 0 10px;
}
#sec_news dl {
    margin-left: 6px;
    
}
#sec_news dt {
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
    margin: 5px 0;
    color: red;
    
    
    
}#sec_news dd {
    margin-left: 0;
    color: #333;
    
}
#news_notice dl{
    margin-left: 6px;
}

#sec_news dt a {
    color: red;
    text-decoration: none;
    
}
#sec_news dt a:hover{
    color: #F90;
    text-decoration: underline;
}

#sec_news dd a{
    color : #333;
    text-decoration: none
    
}
#sec_news dd a:hover{
    color: #f90;
    text-decoration: underline;
}

#news_notice table{
    width: 400px;
    border-collapse: collapse;
/*   collapse 셀의 위아래 간격을 0으로함*/
    text-align: center;
    
}
#news_notice td{
    padding: 6px 4px;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
/*    바닥의 스타일을 점선으로*/
    border-bottom-color: #999
    
}
#news_notice td.context {
    background-image: url(../images/tr_back.gif);
    background-repeat: no-repeat;
    background-position: left center;
/*    화살표 그림이 왼쪽에 붙으면서 가운데에 있어라*/
    padding-left: 15px;
    text-align: left;
    color: #333;
}


#news_notice a{
    color: #333;
    text-decoration: none;
    
}

#news_notice a:hover{
    color: #f90;
    text-decoration: none;
    
}






